<!DOCTYPE html>
<html>
<head>
<title>David Jones & Big W Price Comparison</title>
</head>
<body>
<h1>Price Comparison</h1>
<!-- search form 1 -->
<form action = "http://localhost:5000/" method = "post">
         <p>Enter Item Name:</p>
         <p><input type = "text" name = "nm" /></p>
         <p><input type = "submit" value = "Search" /></p>
      </form>
<h4>David Jones</h4>
<div class="list-type3">
<ol>
    {% for item in djItems %}
    <li><a href="{{item.link}}">{{item.title}}-{{item.price}}</a></li>
    {% endfor %}
</ol>
</div>
<h4>Big W</h4>
<div class="list-type3">
<ol>
    {% for item in bigwItems %}
    <li><a href="{{item.link}}">{{item.title}}-{{item.price}}</a></li>
    {% endfor %}
</ol>
</div>

</body>
</html>
